html {
    --ink: #333;
    --paper: #f5f5f5;
    --gray: #949494;
    --red: #f69799;
    --yellow: #fbf49c;
    --inter: "Inter", sans-serif;
    --spacing: 10px;
    --transition: 0.2s ease-in;
    
    background-color: var(--paper);
}

@media (prefers-color-scheme: dark) {
    html {
        --ink: #f5f5f5;
        --paper: #333;
    }

    mark {
        background-color: var(--gray)!important;
    }
}
