body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;

    background-color: var(--paper);
    padding: 10px;
}

body main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin: var(--spacing) 0;

    flex-grow: 1;
}


.inner-column {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing);
    border: 2px solid var(--gray);
}