@import "reset.css";
@import "setup.css";
@import "settings.css";
/* @import "developer.css"; */
@import "structure.css";
@import "typography.css";
@import "components.css";
@import "modules.css";


.portfolio .item-image {
    max-width: 100%;
}

.portfolio .portfolio-item {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    align-items: flex-start;
}


