---

title: Relentless Slog
favicon: ✌️
description: Oh hey, another blog. Is this really worth your time? Probably not — yet here I am. Take it or leave it homie.
url: https://relentlessslog.github.io

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />

    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ image }}" />

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ favicon }}</text></svg>">


    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {% include "modules/header.njk" %}
    
    <main class="site-main">
        {{ content | safe }}
    </main>

    {% include "modules/footer.njk" %}

</body>
</html>