@import "css/reset.css";
@import "css/settings.css";
@import "css/typography.css";

/* MODULE STYLING */

section [class*="content"] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

@media (prefers-color-scheme: dark) {
    html {
        --ink: #f5f5f5;
        --paper: #333;
    }

    mark {
        background-color: var(--gray);
    }
}
