.hero-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-content .text-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-content .text-content .hero-btn {
    text-align: center;
}

.hero-content .hero-image {
    max-width: 450px;
    margin-inline: auto;
}

@media only screen and (min-width: 700px){
    .hero-content {
        flex-direction: row;
    }
}