--- 

layout: base.njk 
 
---
 
 {{ tag }}

<article class="post-type">
    <div class="post-type-content inner-column">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        {{ content | safe }}
    </div>
</article>