.btn-container { 
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    width: 100%;
    text-align: center;
}

.btn {
    font-family: var(--inter);
    font-size: clamp(1rem, 0.9259rem + 0.3704vw, 1.25rem);
    padding: 13px 20px;
    text-transform: capitalize;
    border: var(--button-border);
}

.primary-btn {
    background-color: var(--ink);
    color: var(--paper);
}

.secondary-btn {
    background-color: var(--paper);
    color: var(--ink);
}

.text-link {
    font-family: var(--inter);
    color: var(--ink);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    /* font-weight: 700; */
    font-size: clamp(0.875rem, 0.8009rem + 0.3704vw, 1.125rem);
    /* text-decoration: underline; */
    border-bottom: 1.4px solid var(--ink);
}

@media only screen and (min-width: 400px){
    .btn-container{
        flex-flow: row wrap;
        align-items: center;
    }
}

@media only screen and (min-width: 1000px) {
    .btn-container {
        gap: calc(var(--spacing) * 3);
    }
}
