/* INFO CARDS */

.info-card-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);   
    width: 100%; 
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    max-width: var(--title-width);
}

.info-card .image {
    max-width: 78px;
}

@media only screen and (min-width: 1000px) {
    .info-card-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }

    .info-card {
        max-width: 100%;
    }
}