html {
    /* Need to explicit set. Unfortunately it's not responsive. */
    --slide-width: 272px;

    /* Slide amount is the amount of images in HTML*/
    --slide-amount: 6;

    --slide-gap: 10px;
    --scroll-speed: 40s;

    --full-slide-width: calc(var(--slide-width) + var(--slide-gap));
    --slide-track-width: calc(var(--full-slide-width) * var(--slide-amount));
    --full-slide-negative: calc(var(--full-slide-width) * -1);
    --track-jump: calc(var(--full-slide-negative) * var(--slide-amount));
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(var(--track-jump));
    }
}

.slide-view {
    overflow: hidden;
    width: 100%;
    border-left: var(--module-border);
    border-right: var(--module-border);
}

.slide-track {
    display: flex;
    align-items: center;
    gap: var(--slide-gap);
    animation: scroll var(--scroll-speed) linear infinite;
    width: var(--slide-track-width);
}

.slide {
    min-width: var(--slide-width);
    height: 286px;
    border-radius: 10px;
    border: var(--module-border);

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.slide-track:hover {
    animation-play-state: paused;
}

.slide:hover {
    filter: brightness(100%);
}

@media only screen and (min-width: 1000px) {
    html {
        --slide-width: 350px;
        --slide-gap: 30px;
    }

    .slide-view {
        height: clamp(372px, 34vw, 392px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        border-left: none;
        border-right: none;
        border-top: var(--module-border);
        border-bottom: var(--module-border);
    }

    .slide-track {
        flex-direction: column;
        max-width: calc(var(--slide-width));
        max-width: 100%;
        /* max-height: var(--slide-width); */
    }

    .slide {
        height: var(--slide-width);
    }

    @keyframes scroll {
        100% {
            transform: translateY(var(--track-jump));
        }
    }
}
