html {
    --slide-width: 300px;
    --slide-width--: calc(var(--slide-width) * -1);

    --slide-gap: 10px;
    --slide-gap--: calc(var(--slide-gap) * -1);

    --slide-track-width: 9;
    --scroll-speed: 30s;

    --track-jump: calc((var(--slide-width--) + var(--slide-gap)) * var(--slide-track-width));
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-310px * 9));
    }
}

.slide-view {
    overflow: hidden;
    width: 100%;
}

.slide-track {
    display: flex;
    align-items: center;
    gap: var(--slide-gap);
    animation: scroll var(--scroll-speed) linear infinite;
}

.slide {
    min-width: var(--slide-width);
}