/* Description List */

.description-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);
    list-style-type: "💎";
    list-style-position: inside;
}

.description-item {
    margin-left: calc(var(--spacing) * 4);
    max-width: 335px;
    display: flex;
    gap: 5px;
}
