@media (hover: hover) and (pointer: fine) {
    a:hover {
        background-color: var(--ink);
        color: var(--paper);
    }

    .home-btn:hover span:first-child {
        border-bottom-color: var(--paper);
    }
}