body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: var(--paper);
}

body main {
    flex-grow: 1;
}

.inner-column {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
}
