---
permalink: /css/style.css
---
 
{# BASE STYLES #} 

{% include "./reset.css" %}  
{% include "./setup.css" %} 
{% include "./settings.css" %}
{% include "./developer.css" %} 
{% include "./structure.css" %}  
{% include "./typography.css" %}        

{% include "modules/header/header.css" %}
{% include "modules/hero/hero.css" %} 
{% include "modules/list/list.css" %}
{% include "modules/footer/footer.css" %}

{% include "./post-type.css" %}

{% include "../pages/list-pages.css" %}

{% include "./hover.css" %}

