.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.list-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 450px;
    width: 100%;
}

.list-item picture {
    height: 0;
    padding-bottom: 60%;
    background-size: cover;
    background-position: center;
}

.list-item picture img {
    display: none;
}

.list-content a {
    text-align: center;
}

.list a {
    text-align: center;
}

@media only screen and (min-width: 700px) {
    
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: auto;
    }

    .list-item {
        flex-basis: 48%;
        max-width: 320px;
        height: 400px;
    }

    .list-item p {
        flex-grow: 1;
    }

    .list-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }

    .list-content > a {
        align-self: center;
    }
}

@media only screen and (min-width: 1000px) {

}
